body,ul{
  padding: 0;
  margin: 0;
}
.wrapper-inside-container{
  height: 100vh;
  position: relative;
}
.wrapper-inside{
  height: 70vh;
  position: relative;
  overflow: hidden;
  background-color: #333333;
  touch-action: pan-x
}
.wrapper-outside-div{
  position: absolute;
  bottom: 0;
  width: 100vw;
  touch-action: pan-x
}
.wrapper-outside-container{
  /* position: absolute;
  bottom: 0; */
  /* height: 30vh;
  width: 100vw; */
  height: 20vh;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  min-height: 200px;
  max-height: 600px;
}